@model IEnumerable<_29Kasim_DapperProjesi_PerakendeSatis.Models.KategoriModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni", "EY", null, new { @class = "btn btn-warning" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.KategoriAdi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UrunNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KategoriAciklama)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "EY", new { id = item.UrunNo }, new { @class = "btn btn-warning" }) |

        @Html.ActionLink("Sil", "Delete", new { id = item.UrunNo }, new { @class = "btn btn-warning" })
    </td>
</tr>
}

</table>
